name: Test install

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: test_install-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  install_macos_github:
    name: GitHub macOS:14
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Visionatrix dependencies
        run: python3 -m pip install .

      - name: Run Visionatrix install
        run: python3 -m visionatrix install

  install_linux_github:
    name: GitHub Ubuntu:22
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Visionatrix dependencies
        run: python3 -m pip install .

      - name: Run Visionatrix install
        run: python3 -m visionatrix install

  install_windows_github:
    name: GitHub Windows:2019
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Visionatrix dependencies
        run: python3 -m pip install .

      - name: Run Visionatrix install
        run: python3 -m visionatrix install
